@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>

    <p style="padding:1em 1em 1em 1em; color: red;">
        @Html.ViewBag.Message
    </p>

    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
