<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FlowDocumentConverter" version="1.0.0" targetFramework="net40" />
  <package id="FreeSpire.PDF" version="3.2" targetFramework="net40" />
  <package id="kenjiuno.PdfSharp.Xps" version="1.1.4" targetFramework="net40" />
  <package id="kenjiuno.PdfSharp-WPF" version="1.31.5377" targetFramework="net40" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
</packages>