@using CPD.Data
@model List<AvailableSurvey>
@{
    ViewData["Title"] = "Read";
}
@{
    Layout = "_CPDLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Read</title>
    <style>

        .container {
            display: flex;
            margin-left: 12px;
            flex-flow: nowrap;
        }

            .container div:nth-of-type(1n+2) {
                margin-left: 5px;
            }

            .container div {
                margin-bottom: 10px
            }


        .col1 {
            flex: 0 1 20px;
        }

        .col2 {
            flex: 1 1 120px;
        }

        .col3 {
            flex: 0 1 120px;
        }

        .heading {
            flex: 1 1 140px;
            color: blue;
        }
    </style>
</head>
<body>
    <div>
        <div class="container">
            <h1 class="heading">Catalogue of readable material</h1>
            <p class="col3">Expire</p>
        </div>

        <div>
            @foreach (CPD.Data.AvailableSurvey item in @Model)
            {
                <div class="container">
                    @*@Html.ActionLink("Select", "Reissue", "CPD", new { pResultId = item.ResultId })*@

                    @*<div class="col1"><a asp-controller="Test" asp-action="DisplayMaterial" asp-route-id="@item.SurveyId">Select</a></div>*@
                    <div class="col2">@item.Publication</div>
                    <div class="col3">@item.ExpirationDate</div>
                </div>
            }
        </div>
    </div>

</body>
</html>
