
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BeyondHealthCare</title>
    <style>
        a {
            font-family: Arial;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div>
        <img src="~/Content/img/logos/ProductFocus.jpg" width="600" height="120" alt="MIMS Product Focus" />
    </div>
    <br/>
    <br/>
    <div>
        <a href="~/Content/BeyondHealthCare.html" target="_blank">Byond Healthcare</a>
    </div>
</body>
</html>
