<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Subs.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Subs.Presentation.Properties.Settings.ConnectionString"
      connectionString="Data Source=PKLWEBDB01\mssql2016std;Initial Catalog=MIMS3;Integrated Security=True;Enlist=False;Pooling=True;Max Pool Size=20;Connect Timeout=100"
      providerName="System.Data.SqlClient" />
    <add name="Subs.Presentation.Properties.Settings.SUBSDWConnectionString"
      connectionString="Data Source=PKLWEBDB01\mssql2016std;Initial Catalog=SUBSDW; Integrated Security=True; Enlist=False;Pooling=True;Max Pool Size=10;Connect Timeout=100" />
  </connectionStrings>
  <applicationSettings>
    <Subs.Presentation.Properties.Settings>
      <setting name="DirectoryPath" serializeAs="String">
        <value>\\PKLWEBDB01\MimsData</value>
      </setting>
      <setting name="Authority3" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>VANDERMERWER</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Authority2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>SAMSONS</string>
            <string>NKGAUO</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Authority4" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>REITMANNH</string>
            <string>HEIN</string>
            <string>PKLDAM</string>
          </ArrayOfString>
        </value>
      </setting>
    </Subs.Presentation.Properties.Settings>
  </applicationSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
