<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DW.Properties.Settings.ConnectionString" connectionString="Data Source=PKLWEBDB01\mssql2016std;Initial Catalog=MIMS3; Integrated Security=True; Enlist=False;Pooling=True;Max Pool Size=10;Connect Timeout=100" />
        <add name="DW.Properties.Settings.SUBSDWConnectionString" connectionString="Data Source=PKLWEBDB01\mssql2016std;Initial Catalog=MIMS3; Integrated Security=True; Enlist=False;Pooling=True;Max Pool Size=10;Connect Timeout=100" />
        <add name="DW.Properties.Settings.SUBSDWConnectionString1" connectionString="Data Source=pklwebdb01;Initial Catalog=SUBSDW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>