<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MIMS.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MIMS.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MIMS.Test.Properties.Settings.ConnectionString" connectionString="Data Source=PKLMAGMIMS01;Initial Catalog=MIMS3;Integrated Security=True;Enlist=False;Pooling=True;Max Pool Size=10;Connect Timeout=100" />
    </connectionStrings>
  <!--
  <system.serviceModel>
    <services>
      <service  name="MySecurityAudit">
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MySecurityAudit">
          <serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="SuccessOrFailure" messageAuthenticationAuditLevel="SuccessOrFailure"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel> -->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IActivator">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://PKLMAGMIMS01:8000/MIMS.WcfService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IActivator"
                contract="ServiceReference2.IActivator" name="WSHttpBinding_IActivator" />
            <endpoint address="http://localhost:53265/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="ServiceReference1.ServiceSoap"
                name="ServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <MIMS.Test.Properties.Settings>
            <setting name="DirectoryPath" serializeAs="String">
                <value>\\PKLMAGMIMS01\Mimsdata</value>
            </setting>
        </MIMS.Test.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MIMS.Test.Properties.Settings>
            <setting name="ReportPath" serializeAs="String">
                <value>C:\CSharp\Mims System\MIMS\Subs.Invoice</value>
            </setting>
        </MIMS.Test.Properties.Settings>
    </userSettings>
</configuration>