<!DOCTYPE html>
@{
    ViewBag.Title = "About";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mims About Us">
    <meta name="author" content="Mims">
    <title>About Us</title>
    <!-- font icons -->
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/navbar.css" />
    <link rel="stylesheet" href="/Content/Styles.css">

    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MRQP4B3F');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRQP4B3F"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->



    <section id="about" class="section pt-0">
        <div class="container">

            <h6 class="section-title text-center" style="color:dodgerblue">About Us</h6>


            <div class="row align-text-center">
                <div>


                    <p>
                        <span style="font-family:'Sans Serif Collection'; color:dodgerblue; font-size:16px"><b>MIMS</b></span> &ndash; the medical publishing division of Arena Holdings (Pty) Ltd &ndash; is southern Africa&rsquo;s leading publisher of reference information to the medical profession.

                        Our audience includes GPs, specialists, pharmacists, pharmacy assistants, and other healthcare professionals.
                    </p>

                    <p>
                        <span style="font-family:'Sans Serif Collection'; color:dodgerblue; font-size:16px"><b>MIMS</b></span> &ndash; produces a host of publications in the print and digital media.

                        Core products in the print medium include MIMS monthly &ndash; widely regarded as the doctor&rsquo;s most trusted prescription tool &ndash; which consists of abbreviated package insert information on most prescription medicines available in South Africa, and MIMS Desk Reference (MDR) which features both fully detailed and abbreviated medicines listings plus important prescriber information.<br />
                        Providing the healthcare profession with pertinent information on generic medicines, including the SEP and maximum medical aid reimbursement prices, is the quarterly The Generics Dictionary with its accompanying website <strong style="background-color:dodgerblue"><a href="http://www.generic.co.za">www.generic.co.za</a></strong><br />


                        In the veterinary field, we publish IVS quarterly, consisting of abbreviated package insert information on most veterinary medicines available in South Africa, and IVS Desk Reference (IDR) comprising full package insert information.
                    </p>

                    <p>Products in electronic format include the newly relaunched emims &ndash; a standalone, desktop version encompassing MIMS/MDR medicines listings, an ICD10 coding browser, and patient information leaflets on a wide range of medical conditions; and mobiMIMS, comprising MIMS listings for smartphones and Internet-enabled tablet devices. These products can be ordered on their own or in various combinations. Additionally, MIMS publishes ebooks from time to time on topics as diverse as drug usage in sport and medical ethics.</p>

                    <p>Additional publications in the MIMS stable include Guide to OTC Products, The CVS Dictionary and a CPD Handbook series (comprising treatment approaches, drug-class overviews and medicines listings) on such specialist topics as Oncology, Geriatric Medicine, General Medicine and Psychiatry.</p>

                    <p>With over 60 years&rsquo; experience, MIMS is southern Africa&rsquo;s leading publisher of medical reference information for healthcare professionals.</p>
                </div>

            </div>
        </div>
    </section>

    @*End OF About Section*@

</body>
</html>
