<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CPD.Capture.Properties.Settings.MIMSConnectionString"
            connectionString="Data Source=PKLWEBDB01\mssql2016std;Initial Catalog=CPD2;Integrated Security=True;Enlist=False;Pooling=True;Max Pool Size=20;Connect Timeout=100" />
        <add name="CPD.Capture.Properties.Settings.CPDConnectionString"
            connectionString="Data Source=PKLWEBDB01\mssql2016std;Initial Catalog=CPD2;Integrated Security=True;Enlist=False;Pooling=True;Max Pool Size=20;Connect Timeout=100" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>